USE [master]
GO
/****** Object:  Database [QLPT]    Script Date: 16/01/2021 10:00:24 SA ******/
CREATE DATABASE [QLPT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLPT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLPT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLPT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLPT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLPT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLPT]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 16/01/2021 10:00:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USR] [varchar](20) NOT NULL,
	[PWD] [varchar](20) NULL,
	[EMAIL] [varchar](100) NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[USR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOITHUE]    Script Date: 16/01/2021 10:00:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOITHUE](
	[IDNGUOITHUE] [varchar](4) NOT NULL,
	[TENNGUOITHUE] [nvarchar](50) NULL,
	[NAMSINH] [varchar](4) NULL,
	[CMND] [varchar](15) NULL,
	[SDT] [varchar](11) NULL,
 CONSTRAINT [PK_NGUOITHUE] PRIMARY KEY CLUSTERED 
(
	[IDNGUOITHUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUE]    Script Date: 16/01/2021 10:00:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUE](
	[IDPHIEU] [varchar](4) NOT NULL,
	[IDPHONG] [varchar](4) NULL,
	[IDNGUOITHUE] [varchar](4) NULL,
	[NGAYTHUE] [datetime] NULL,
	[NGAYTRA] [datetime] NULL,
	[GHICHU] [nvarchar](200) NULL,
 CONSTRAINT [PK_PHIEUTHUE] PRIMARY KEY CLUSTERED 
(
	[IDPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 16/01/2021 10:00:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[IDPHONG] [varchar](4) NOT NULL,
	[TENPHONG] [nvarchar](100) NULL,
	[TRANGTHAI] [bit] NULL,
	[GIAPHONG] [int] NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[IDPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([USR], [PWD], [EMAIL]) VALUES (N'admin', N'admin', N'admin@gmail.com')
GO
INSERT [dbo].[NGUOITHUE] ([IDNGUOITHUE], [TENNGUOITHUE], [NAMSINH], [CMND], [SDT]) VALUES (N'N1', N'Nguyễn Ảnh Thủ', N'1960', N'898989898', N'0909090909')
INSERT [dbo].[NGUOITHUE] ([IDNGUOITHUE], [TENNGUOITHUE], [NAMSINH], [CMND], [SDT]) VALUES (N'N2', N'Nguyễn Duy Sơn', N'2000', N'133233223', N'0938473849')
INSERT [dbo].[NGUOITHUE] ([IDNGUOITHUE], [TENNGUOITHUE], [NAMSINH], [CMND], [SDT]) VALUES (N'N3', N'Đào Trung Tâm', N'1980', N'837473834', N'0874930284')
GO
INSERT [dbo].[PHIEUTHUE] ([IDPHIEU], [IDPHONG], [IDNGUOITHUE], [NGAYTHUE], [NGAYTRA], [GHICHU]) VALUES (N'P1', N'P1', N'N1', CAST(N'2019-08-12T00:00:00.000' AS DateTime), NULL, N'Nợ 1 tháng tiền phòng')
INSERT [dbo].[PHIEUTHUE] ([IDPHIEU], [IDPHONG], [IDNGUOITHUE], [NGAYTHUE], [NGAYTRA], [GHICHU]) VALUES (N'P2', N'P3', N'N2', CAST(N'2019-08-12T00:00:00.000' AS DateTime), NULL, N'ngu ngục quá')
INSERT [dbo].[PHIEUTHUE] ([IDPHIEU], [IDPHONG], [IDNGUOITHUE], [NGAYTHUE], [NGAYTRA], [GHICHU]) VALUES (N'P3', N'P2', N'N3', CAST(N'2019-08-12T00:00:00.000' AS DateTime), NULL, N'Đang bốc bát')
GO
INSERT [dbo].[PHONG] ([IDPHONG], [TENPHONG], [TRANGTHAI], [GIAPHONG]) VALUES (N'P1', N'Phòng 1', 1, 200000)
INSERT [dbo].[PHONG] ([IDPHONG], [TENPHONG], [TRANGTHAI], [GIAPHONG]) VALUES (N'P2', N'Phòng 2', 1, 200000)
INSERT [dbo].[PHONG] ([IDPHONG], [TENPHONG], [TRANGTHAI], [GIAPHONG]) VALUES (N'P3', N'Phòng 3', 1, 400000)
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_NGUOITHUE] FOREIGN KEY([IDNGUOITHUE])
REFERENCES [dbo].[NGUOITHUE] ([IDNGUOITHUE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_NGUOITHUE]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_PHONG] FOREIGN KEY([IDPHONG])
REFERENCES [dbo].[PHONG] ([IDPHONG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_PHONG]
GO
USE [master]
GO
